<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Payment</servlet-name>
    <servlet-class>pay.customer.paymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentInsert</display-name>
    <servlet-name>PaymentInsert</servlet-name>
    <servlet-class>pay.customer.PaymentInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentInsert</servlet-name>
    <url-pattern>/PaymentInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaymentServlet</display-name>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <servlet-class>pay.customer.UpdatePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <url-pattern>/UpdatePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaymentServlet</display-name>
    <servlet-name>DeletePaymentServlet</servlet-name>
    <servlet-class>pay.customer.DeletePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaymentServlet</servlet-name>
    <url-pattern>/DeletePaymentServlet</url-pattern>
  </servlet-mapping>
</web-app>